<h1 class="text-center">Details of </br><strong><%= @restaurant.name %></strong></h1>

<ul class="text-center restaurant-detail list-inline">
  <li><i class="fa fa-map-marker" aria-hidden="true"></i><%= @restaurant.address %></li>
  <li><i class="fa fa-phone" aria-hidden="true"></i><%= @restaurant.phone_number %></li>
  <li><i class="fa fa-heart-o" aria-hidden="true"></i><%= @restaurant.category %></li>
</ul>

<ul>Reviews:
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %> | Rating: <%= review.rating %></li>
  <% end %>
</ul>


    <div class="text-center">
      <div class="reviews">
        <h4 id="add_review"><strong>Add a review</strong></h4>
        <%= simple_form_for [@restaurant, @review] do |f| %>
          <%= f.input :content %>
          <%= f.input :rating %>
          <%= f.submit "add a review", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>
