<h1>Details of <%= @restaurant.name %></h1>

<ul>
  <li><%= @restaurant.name %></li>
  <li><%= @restaurant.address %></li>
  <li><%= @restaurant.phone_number %></li>
  <li><%= @restaurant.category %></li>
</ul>

<ul>Reviews:
  <% @restaurant.reviews.each do |review| %>
    <li><%= review.content %></li>
  <% end %>
</ul>


<h1 id="add_review">Add a review</h1>

<%= simple_form_for [@restaurant, @review] do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>

  <%= f.submit "add a review", class: "btn btn-primary" %>

<% end %>


<%= link_to "Go back", restaurants_path, class: "btn btn-danger"%>
